@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Roboto;
}

nav {
  display: flex;
  gap: 4rem;
  padding: 0.8rem 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  width: 100%;
  /* background:rgba(205, 233, 205, 0.9); */
  justify-content: space-between;
  color: #fff;

}

.logo img {
  width: 100px;
}

.navlinks {
  /* background-color: rgba(4, 5, 6, .7); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 90%; */
}

.nav{
  position: fixed;
  z-index: 10;
}

.navs {
  display: flex;
  gap: 1em;
}

.navs li {
  margin: 1em;
  font-size: 1.2em;
}


